

.portfolio-card {
    cursor: pointer;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 20px;
    background: #00040f ;
    box-shadow: 4px 4px 8px #080808, -4px -4px 8px #121212;
  }
  .portfolio-card::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    color: white;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .portfolio-card:hover::after {
    opacity: 1;
  }
  .portfolio-card:hover {
    color: #0097e6;
  }
  
  .image-content {
    width: 100%;
    margin: auto;
    cursor: n-resize;
  }
  .image-content img {
    width: 500px;
    object-fit: cover;
    object-position: top;
    height: 300px;
    transition: 5s all ease;
    border-radius: 15px;
  }
  .portfolio-card:hover .image-content img {
    object-position: bottom;
  }
  
  .project-title {
    color: black;
    transition: color 0.4s ease;
  }
  
  .title-icon {
    transform: scale(0);
    transform-origin: bottom;
    transition: transform 0.4s ease;
  }
  
  .portfolio-card:hover .title-icon {
    transform: scale(1);
  }
   .portfolio-card{
  
    transition:0.5s ease-in-out ;
    transform: translateY(10px);
   }
  .portfolio-card:hover  {
    transition:0.5s ease-in-out ;
    transform: translateY(-10px);
  }
  
  .button-content {
    
    border-radius: 5px;
    box-shadow: 4px 4px 8px #080808, -4px -4px 8px #121212;
    background:  #00040f ;
    color:white;
   
  }
  .project-button {
    cursor: pointer;
    display: flex;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: white;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #080808, -4px -4px 8px #121212;
    transition: color 0.3s ease;
  } 
 
 