
.App {
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.container {
  max-width: 95%;
  margin: auto;
}
.d_flex {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  outline: none;
  background-color: none;
}

.btn_shadow {
  padding: 18px 25px; 
  border-radius: 6px;
  transition: 0.3s all ease;
  cursor: pointer;
  color: white;
  transition: 0.5s;
}
.btn_shadow {
  background:#00040f ;
  box-shadow: 4px 4px 8px #100e0e, -4px -4px 8px #0d0c0c;
}
.btn_shadow:hover {
  background: #00040f;
  
  transform: translateY(-10px);
}
.box_shodow {
  background:#00040f;
  box-shadow: 4px 4px 8px #100e0e, -4px -4px 8px #0d0c0c;
  border-radius: 10px;
}
.row,
.left,
.right {
  width: 50%;
}
.top {
  margin-top: 80px;
}
.mtop {
  margin-top: 40px;
}
.heading {
  margin: 50px 0 50px 0;
}
.heading h4 {
  color: #ff014f;
  letter-spacing: 2px;
  font-weight: 400;
}
.heading h1 {
  font-size: 60px;
  color: #3c3e41;
}
h1 {
  color: #3c3e41;
}

p {
  color: #3c3e41;
}
.text-center {
  text-align: center;
}



