.action-box {
  cursor: pointer;
  font-size: 20px;
  width: 4rem;
  height: 4rem;
  display: flex;
  position: relative;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  border-radius: 50% 30% 50% 30%;
  background: linear-gradient(-45deg, #717376, #696a6a);
  box-shadow: 5px 5px 10px #96b7f8, -3px -3px 10px #32373d;
  transition: all 0.3s ease-in-out;
}
.action-box:hover {
  border-radius: 30% 50% 30% 50%;
  /* position: relative;
  bottom: 5px; */
  background: linear-gradient(-45deg, #5252f0, #5ba3eb);
  transition: all 0.2s ease-in-out;
}




